<aside class="fixed top-0 left-0 w-64 h-screen pt-16 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0">
    <div class="h-full overflow-y-auto bg-gradient-to-b from-zinc-600 to-zinc-800 py-4 px-4 space-y-3">
        <ul class="space-y-1 text-sm">
            <h1 class="uppercase text-slate-200 font-semibold text-xs">Menú</h1>
            <!--<li>
                <a href="#" class="flex items-center p-2 text-white rounded-lg hover:bg-sky-800 group">
                    <mat-icon [svgIcon]="'heroicons_outline:home'"></mat-icon>
                    <span class="ms-3">Inicio</span>
                </a>
            </li>-->
            <li>
                <a [routerLink]="['kids']" class="flex items-center p-2 text-white rounded-lg hover:bg-zinc-800 group">
                    <i class="pi pi-users"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Niños registrados</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['contracts/created']" class="flex items-center p-2 text-white rounded-lg hover:bg-zinc-800 group">
                    <i class="pi pi-sign-out"></i>
                    <span class="flex-1 ms-3 whitespace-nowrap">Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
