<div class="space-y-5">
    <div class="flex items-center space-x-2">
        <i class="pi pi-user"></i>
        <h3 class="text-xl font-semibold ">Registro de niños</h3>
    </div>
    <div class="grid md:grid-cols-4 border border-gray-200 shadow-2xs rounded-xl overflow-hidden">
        <!-- Card -->
        <a class="block p-4 md:p-5 relative bg-white hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:bg-gray-200 first:before:bg-transparent" href="#">
            <div class="flex md:flex flex-col lg:flex-row gap-y-3 gap-x-5">
                <svg class="shrink-0 size-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>

                <div class="grow">
                    <p class="text-xs uppercase font-medium text-gray-800">
                        Niños registrados
                    </p>
                    <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-600">
                        72,540
                    </h3>
                    <div class="mt-1 flex justify-between items-center">
                        <p class="text-sm text-gray-500">
                            totales
                        </p>

                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="block p-4 md:p-5 relative bg-white hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:bg-gray-200 first:before:bg-transparent" href="#">
            <div class="flex md:flex flex-col lg:flex-row gap-y-3 gap-x-5">
                <svg class="shrink-0 size-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 22h14"/><path d="M5 2h14"/><path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/><path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/></svg>

                <div class="grow">
                    <p class="text-xs uppercase font-medium text-gray-800">
                        Niños alergicos
                    </p>
                    <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-600">
                        29.4%
                    </h3>
                    <div class="mt-1 flex justify-between items-center">
                        <p class="text-sm text-gray-500">
                            de <span class="font-semibold text-gray-800">total</span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="block p-4 md:p-5 relative bg-white hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:bg-gray-200 first:before:bg-transparent" href="#">
            <div class="flex md:flex flex-col lg:flex-row gap-y-3 gap-x-5">
                <svg class="shrink-0 size-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6"/><path d="m12 12 4 10 1.7-4.3L22 16Z"/></svg>

                <div class="grow">
                    <p class="text-xs uppercase font-medium text-gray-800">
                        Niños con condicion médica
                    </p>
                    <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-600">
                        56.8%
                    </h3>
                    <div class="mt-1 flex justify-between items-center">
                        <p class="text-sm text-gray-500">
                            de <span class="font-semibold text-gray-800">total</span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="block p-4 md:p-5 relative bg-white hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:bg-gray-200 first:before:bg-transparent" href="#">
            <div class="flex md:flex flex-col lg:flex-row gap-y-3 gap-x-5">
                <svg class="shrink-0 size-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12s2.545-5 7-5c4.454 0 7 5 7 5s-2.546 5-7 5c-4.455 0-7-5-7-5z"/><path d="M12 13a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/><path d="M21 17v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-2"/><path d="M21 7V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2"/></svg>

                <div class="grow">
                    <p class="text-xs uppercase font-medium text-gray-800">
                        Miembros de mundo de fe
                    </p>
                    <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-blue-600">
                        92,913
                    </h3>
                    <div class="mt-1 flex justify-between items-center">
                        <p class="text-sm text-gray-500">
                            de <span class="font-semibold text-gray-800">total</span>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        <!-- End Card -->
    </div>
    <div class="p-5 border rounded-xl text-sm">
        <p-table
            [value]="kids"
            [tableStyle]="{ 'min-width': '50rem' }"
            [size]="'small'"
            [paginator]="true"
            [rows]="10"
        >
            <ng-template #header>
                <tr class="font-medium uppercase">
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Cumpleaños</th>
                    <th>Edad</th>
                    <th>Alergía</th>
                    <th>Condición Médica</th>
                    <th>Menú</th>
                </tr>
            </ng-template>
            <ng-template #body let-kid>
                <tr>
                    <td>{{ kid.name }}</td>
                    <td>{{ kid.lastname }}</td>
                    <td>{{ kid.birthday | date }}</td>
                    <td>{{ kid.age }}</td>
                    <td>{{ kid.allergy_description }}</td>
                    <td>{{ kid.medical_condition_description }}</td>
                    <td>
                        <p-button icon="pi pi-ellipsis-v"
                                  [rounded]="true"
                                  severity="secondary"
                                  [outlined]="true"
                                  (click)="op.toggle($event)"
                        />

                        <p-popover #op>
                            <div class="w-48">
                                <ul class="py-2 text-sm text-gray-700">
                                    <li>
                                        <a class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:cursor-pointer">
                                            <i class="pi pi-external-link"></i>
                                            <span>Ver información</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="flex items-center space-x-2 px-4 py-2 hover:bg-gray-100 hover:cursor-pointer">
                                            <i class="pi pi-external-link"></i>
                                            <span>Ver información</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </p-popover>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>

