<div class="min-h-full flex flex-col items-center justify-center py-12 px-4">
    <nav class="fixed top-0 left-0 right-0 z-10 shadow-md">
        <div class="max-w-full mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <img class="mx-auto h-12 w-auto" src="images/logo-buyback.png">
            </div>
        </div>
    </nav>

    @if (expired) {
        <div class="max-w-md w-full flex p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
             role="alert">
            <i class="fa-solid fa-circle-info fa-lg flex-shrink-0 inline mr-3"></i>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium">¡Ups!</span> Al parecer tu contraseña a expirado. Te invitamos a generar una
                nueva.
            </div>
        </div>
    }

    @if (first) {
        <div class="max-w-md w-full flex p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50"
             role="alert">
            <i class="fa-solid fa-circle-info fa-lg flex-shrink-0 inline mr-3"></i>
            <span class="sr-only">Info</span>
            <div>
                <span class="font-medium">¡Bien!</span> Haz hecho tu primer inicio de sesión. Te invitamos a cambiar tu
                contraseña temporal por una personal.
            </div>
        </div>
    }

    <div class="p-8 max-w-md w-full space-y-5 bg-white rounded-2xl border border-gray-200 shadow-md">
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-xl font-semibold tracking-tight leading-8">Cambiar contraseña</div>
            </div>
        </div>
        <form [formGroup]="passwordForm">
            <label class="block mb-1 text-sm font-medium text-gray-900">
                Contraseña
            </label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-gray-400">

                </div>
                <input type="{{ showPassword ? 'text' : 'password'}}" formControlName="password"
                       class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" placeholder="•••••••••"/>
            </div>

            <label class="block mb-1 text-sm font-medium text-gray-900">
                Contraseña
            </label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-gray-400">

                </div>
                <input type="{{ showPassword ? 'text' : 'password'}}" formControlName="password"
                       class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" placeholder="•••••••••"/>

            </div>

            <button type="button" (click)="changePassword()"
                    class="w-full text-white bg-sky-600 hover:bg-sky-700 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            >
                Cambiar contraseña
            </button>
        </form>
    </div>
    <p class="text-sm text-gray-500 font-medium mt-3">&#64; {{ currentYear }} BuyBack. Todos los derechos
        reservados.</p>
</div>
