<nav class="fixed top-0 left-0 right-0 z-50 shadow bg-white">
    <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <!-- Botón hamburguesa para móvil -->
                <button
                    type="button"
                    class="inline-flex items-center p-2 text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    (click)="onToggleSidebar()">
                    <i class="pi pi-bars text-xl"></i>
                </button>
                <ng-content></ng-content>
                <a class="flex items-center ms-2 gap-3">
                    <img [src]="logo" class="h-10 me-1" alt="Logo"/>
                    <span class="self-center text-lg font-semibold whitespace-nowrap ">
                        {{ projectName }}
                    </span>
                </a>
            </div>
            <div class="flex items-center gap-3">
                <!-- Nombre del usuario -->
                <span class="hidden sm:flex items-center gap-2 text-sm text-slate-500">
                    <i class="pi pi-user text-slate-400"></i>
                    <span class="font-medium text-slate-700">{{ username }}</span>
                </span>
                <div class="flex items-center ms-1">
                    <p-button (click)="menu.toggle($event)" icon="pi pi-user" [rounded]="true" severity="secondary" />
                </div>
            </div>
        </div>
    </div>
</nav>
<p-menu #menu [model]="items" [popup]="true" />
