<div class="min-h-screen flex flex-col items-center justify-center bg-blue-950 p-4">

    <div class="w-full max-w-sm bg-white rounded-2xl shadow-xl p-8 space-y-6">

        <!-- Logo -->
        <div class="flex flex-col items-center gap-2">
            <img [src]="logo" class="w-20" alt="Logo">
            @if (projectName) {
                <span class="font-semibold text-base">{{ projectName }}</span>
            }
        </div>

        <!-- Encabezado -->
        <div>
            <h3 class="text-xl font-bold text-gray-800">Iniciar sesi&#xF3;n</h3>
            <p class="text-sm text-gray-500">Ingresa tu usuario y contrase&#xF1;a</p>
        </div>

        <!-- Formulario -->
        <form [formGroup]="loginForm" class="space-y-4" (keydown.enter)="onLogin()">
            <div class="flex flex-col gap-1">
                <label class="text-sm font-medium text-gray-700">Usuario</label>
                <input type="text" pInputText formControlName="username" class="w-full" placeholder="Nombre de usuario"/>
            </div>
            <div class="flex flex-col gap-1">
                <label class="text-sm font-medium text-gray-700">Contrase&#xF1;a</label>
                <p-password [feedback]="false" [toggleMask]="true" formControlName="password"
                            styleClass="w-full" inputStyleClass="w-full" placeholder="••••••••"/>
            </div>

            <div>
                <p-button
                    label="Entrar"
                    icon="pi pi-sign-in"
                    styleClass="w-full"
                    (click)="onLogin()"
                    [loading]="isLoading"
                />
            </div>

        </form>
    </div>

    <p class="text-white/50 mt-5 text-xs text-center">
        © {{ currentYear }} {{ copyright }}. Todos los derechos reservados.
    </p>

</div>

